.bola {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100px;
    background-color: #44308c;
    border-radius: 50%;
    transition: 1s 
}
.bola:hover {
    position: absolute;
    left: 300px;
    background-color: #e10a35;
    transform:translateX(100px);
    transform: scale(1.1);
}    